<% layout("/layout/boilerplate.ejs") %>

    <body>
        <br>
        <h1>Editing listing</h1>
        <br>
        <div class="row">
            <div class="col-8 offset-2">
                <form action="/listings/<%= data._id%>?_method=put" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" id="" value="<%= data.title %>" class="form-control"
                            required>
                        <div class="invalid-feedback">
                            Please Enter a title.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" class="form-control"
                            required><%= data.description %></textarea>
                        <div class="invalid-feedback">
                            Please enter a description.
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <div>
                            original image: <br>
                            <img src="<%= originalimg %>" class="edit-img" alt="">
                        </div>
                        <label for="image" class="form-label">Image url</label>
                        <input type="file" name="listing[image]" id="" class="form-control">
                        <div class="invalid-feedback">
                            Please upload an image.
                        </div>
                    </div>
                     <p>Select all categories that apply</p>
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                            data-bs-toggle="dropdown"  data-bs-auto-close="outside">
                            Select Categories
                        </button>

                        <ul class="dropdown-menu p-3" style="max-height: 250px; overflow-y: auto;">
                            <li>
                                <label class="dropdown-item">
                                    <input type="checkbox" name="listing[categories][]" value="Trending"> Trending
                                </label>
                            </li>
                            <li>
                                <label class="dropdown-item">
                                    <input type="checkbox" name="listing[categories][]" value="Rooms"> Rooms
                                </label>
                            </li>
                            <li>
                                <label class="dropdown-item">
                                    <input type="checkbox" name="listing[categories][]" value="Iconic Cities"> Iconic
                                    Cities
                                </label>
                            </li>
                            <li>
                                <label class="dropdown-item">
                                    <input type="checkbox" name="listing[categories][]" value="Mountains"> Mountains
                                </label>
                            </li>
                            <li>
                                <label class="dropdown-item">
                                    <input type="checkbox" name="listing[categories][]" value="Castles"> Castles
                                </label>
                            </li>
                            <li>
                                <label class="dropdown-item">
                                    <input type="checkbox" name="listing[categories][]" value="Pools"> Pools
                                </label>
                            </li>
                            <li>
                                <label class="dropdown-item">
                                    <input type="checkbox" name="listing[categories][]" value="Camping"> Camping
                                </label>
                            </li>
                            <li>
                                <label class="dropdown-item">
                                    <input type="checkbox" name="listing[categories][]" value="Farms"> Farms
                                </label>
                            </li>
                            <li>
                                <label class="dropdown-item">
                                    <input type="checkbox" name="listing[categories][]" value="Arctic"> Arctic
                                </label>
                            </li>
                            <li>
                                <label class="dropdown-item">
                                    <input type="checkbox" name="listing[categories][]" value="Beach"> Beach
                                </label>
                            </li>
                            <li>
                                <label class="dropdown-item">
                                    <input type="checkbox" name="listing[categories][]" value="Apartments"> Apartments
                                </label>
                            </li>
                            <li>
                                <label class="dropdown-item">
                                    <input type="checkbox" name="listing[categories][]" value="Homes"> Homes
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="row">

                        <div class="mb-3 mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="listing[price]" id="" value="<%= data.price %>"
                                class="form-control" required>
                            <div class="invalid-feedback">
                                Please Enter a price.
                            </div>
                        </div>

                        <div class="mb 3 col-md-8">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" name="listing[location]" id="" value="<%= data.location %>"
                                class="form-control" required>
                            <div class="invalid-feedback">
                                Please Enter a location.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" id="" value="<%= data.country %> "
                            class="form-control" required>
                        <div class="invalid-feedback">
                            Please Enter a country.
                        </div>
                    </div>




                    <button class="btn btn-dark submit-btn"> submit </button>
                </form>
                <br><br>
            </div>
        </div>
    </body>